body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #101010;
}

*::selection {
  background-color: var(--clr-secondary);
  color: white;
}

:root {
  --clr-primary: #fff;
  --clr-secondary: #6f00ff;
  --timer: 0%;
  --hodnoceni: 5;
  --fa-border-color: red;
  --fa-primary-color: white;
  --fa-secondary-color: #6f00ff;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.factsDiv {
  width: 20vw;
  height: 20vh;
  background: #6f00ff;
  position: fixed;
  bottom: 2rem;
  right: 0;
  z-index: 20;
  transition: all 0.125s ease-in-out;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  -ms-transition: all 0.125s ease-in-out;
  -o-transition: all 0.125s ease-in-out;

  i {
    transition: all 0.125s ease-in-out;
    -webkit-transition: all 0.125s ease-in-out;
    -moz-transition: all 0.125s ease-in-out;
    -ms-transition: all 0.125s ease-in-out;
    -o-transition: all 0.125s ease-in-out;
  }

  .fact {
    position: absolute;
    top: 0;
    right: 0;
    height: 75%;
    width: 80%;
    margin-right: 5%;
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    display: grid;
    place-content: center;
  }

  .factsSkip {
    position: absolute;
    width: 90%;
    height: 25%;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);

    i {
      color: white;
    }

    display: flex;
    justify-content: center;

    .nextFact {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        i {
          text-shadow: black 0 0 10px;
        }
      }
    }

    .previousFact {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        i {
          text-shadow: black 0 0 10px;
        }
      }
    }
  }

  .closeFacts {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      i {
        text-shadow: black 0 0 10px;
      }
    }

    i {
      font-size: 2rem;
      color: white;
    }
  }
}

#factsToggle {
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  right: 4rem;
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.125s ease-in-out;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  -ms-transition: all 0.125s ease-in-out;
  -o-transition: all 0.125s ease-in-out;

  i {
    color: white;
    transition: all 0.125s ease-in-out;
    -webkit-transition: all 0.125s ease-in-out;
    -moz-transition: all 0.125s ease-in-out;
    -ms-transition: all 0.125s ease-in-out;
    -o-transition: all 0.125s ease-in-out;
  }

  &:hover {
    i {
      color: #6f00ff;
    }
  }
}

#aimTrainer {
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  left: 4rem;
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;

  i {
    color: white;
    transition: all 0.125s ease-in-out;
    -webkit-transition: all 0.125s ease-in-out;
    -moz-transition: all 0.125s ease-in-out;
    -ms-transition: all 0.125s ease-in-out;
    -o-transition: all 0.125s ease-in-out;
  }

  &:hover {
    i {
      color: #6f00ff;
    }
  }
}

.nav-wrapper {
  display: flex;
  height: 7rem;
  width: 100vw;
  align-items: center;
  position: fixed;
  z-index: 1111;
  backdrop-filter: blur(3px);

  .image {
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    height: 5.5rem;
    fill: var(--clr-primary);
    transition: all ease-in-out 0.25s;
    position: relative;
    top: 0;
    cursor: pointer;

    &:hover {
      top: 1vh;
      transform: scale(1.25);
    }
  }

  nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2em;

    a {
      color: var(--clr-primary);
      text-decoration: none;
      font-size: 2rem;
      margin-inline: 2rem;
      font-family: "Bebas Neue", cursive;
      transition: all ease-in-out 0.125s;
      position: relative;
      transform-origin: right;

      &::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 2.5px;
        background-color: var(--clr-secondary);
        bottom: 0px;
        right: 0px;
        transition: all ease-in-out 0.25s;
        transform-origin: right;
      }

      &:hover {
        color: var(--clr-secondary);
        text-shadow: 0px 0px 20px #6f00ff;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2.5px;
          background-color: var(--clr-secondary);
          bottom: 0px;
          left: 0px;
          transform-origin: right;
        }
      }
    }
  }
}

.main {
  height: 100vh;
  z-index: 5;
  position: relative;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(5, 5, 5, 1)),
    url(assets/bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-primary);

  h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 6rem;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }

  b {
    margin-top: 2vh;
    color: white;
    background-color: #6f00ff;
    padding: 1rem 10rem;
    text-decoration: none;
    display: grid;
    place-content: center;
    position: relative;
    text-align: center;
    transition: all ease-in-out 0.125s;
    display: block;
    font-family: "Bebas Neue", cursive;
    font-size: 6rem;
    -webkit-transition: all ease-in-out 0.125s;
    -moz-transition: all ease-in-out 0.125s;
    -ms-transition: all ease-in-out 0.125s;
    -o-transition: all ease-in-out 0.125s;

    &::selection {
      background-color: #111111;
      color: #ddd;
    }
  }

  .hero {
    z-index: 5;
    max-width: 80vw;
    display: grid;
    place-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    animation: mymove 10s infinite;

    .wrap {
      width: 100%;
      display: grid;
      place-content: center;
      margin-top: 5vh;

      .icon-wrap {
        width: 125px;
        height: 125px;
        display: grid;
        place-content: center;
        border: solid 15px white;
        border-radius: 50%;
        cursor: pointer;
        position: relative;

        &:hover {
          border-color: #6f00ff;
          box-shadow: #6f00ff 0 0 10px;

          i {
            color: #6f00ff;
          }
        }
        transition: all ease-in-out 0.25s;
        -webkit-transition: all ease-in-out 0.25s;
        -moz-transition: all ease-in-out 0.25s;
        -ms-transition: all ease-in-out 0.25s;
        -o-transition: all ease-in-out 0.25s;
      }

      i {
        padding: 1rem;
        transition: all ease-in-out 0.125s;
        -webkit-transition: all ease-in-out 0.125s;
        -moz-transition: all ease-in-out 0.125s;
        -ms-transition: all ease-in-out 0.125s;
        -o-transition: all ease-in-out 0.125s;
      }
    }

    @keyframes mymove {
      0% {
        top: 15vh;
      }
      50% {
        top: 20vh;
      }
      100% {
        top: 15vh;
      }
    }

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

    p {
      font-family: "Mukta", sans-serif;
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
      color: #6f00ff;
      float: right;
      margin-left: 2rem;
    }
  }
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
}

.about-us {
  z-index: 5;
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
  background: linear-gradient(
    180deg,
    rgba(5, 5, 5, 1) 15%,
    rgba(4, 4, 4, 1) 100%
  );

  .dropbtn {
    font-family: "Bebas Neue", cursive;
    background-color: #6f00ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
    position: relative;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 127px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  i {
    margin-right: 0.5rem;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #bf00ff;
  }

  .text-about-us-wrapper {
    width: 100%;
    display: grid;
    justify-items: center;
  }

  .heading-about-us {
    color: white;
    width: 100%;
    text-align: center;
  }

  p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    width: 50%;
    text-align: center;
    margin-bottom: 6rem;
  }
}

.roster {
  height: 100vh;
  padding-inline: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas: "one two three four five";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  transition: all ease-in-out 0.125s;
  background: linear-gradient(
    0deg,
    rgba(5, 5, 5, 1) 15%,
    rgba(4, 4, 4, 1) 100%
  );
  z-index: 5;
  position: relative;

  #mthwm {
    grid-area: one;

    &:hover {
      & a::after {
        content: "rifler";
      }
    }
  }
  #cenda {
    grid-area: two;
    &:hover {
      & a::after {
        content: "igl";
      }
    }
  }
  #havelos {
    grid-area: three;
    &:hover {
      & a::after {
        content: "awper";
      }
    }
  }
  #lukyn {
    grid-area: four;
    &:hover {
      & a::after {
        content: "lurker";
      }
    }
  }
  #ghaden {
    grid-area: five;
    &:hover {
      a::after {
        content: "support";
      }
    }
  }

  .player-card {
    background-color: hsla(0, 0%, 0%, 0.082);
    color: var(--clr-primary);
    display: grid;
    place-items: center;
    min-width: 100%;
    aspect-ratio: 3 / 5;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    border: solid 5px #6f00ff;
    box-shadow: 5px 5px 10px 3px hsla(0, 0%, 0%, 0.445);

    &:hover {
      a {
        color: var(--clr-secondary);
        opacity: 1;
        border: var(--clr-secondary) solid 2px;
        padding: 5px;
        padding-inline: 10px;
        font-size: 2vw;
        transform: scale(1.2);

        &::after {
          position: absolute;
          bottom: -2.25rem;
          color: white;
          font-family: "Bebas Neue", cursive;
          font-size: 1.25rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      img {
        transform: scale(0);
      }

      .mm,
      .wm,
      .fct {
        opacity: 1 !important;
        height: 2.5vw;
        transform: scale(1) !important;
        position: relative;
      }

      .mm {
        transition: all 0.75s ease;
        margin-top: 1.75rem;
      }

      .wm {
        transition: all 1s ease;
      }

      .fct {
        transition: all 1.25s ease;
      }
    }

    .mm,
    .wm,
    .fct {
      opacity: 0;
      height: 0;
      width: auto;
      transition: all 0.01s ease;
    }

    .pp {
      opacity: 1;
      height: 100%;

      position: absolute;
      transition: all ease-in-out 0.125s;
    }

    a {
      color: var(--clr-primary);
      font-size: 3rem;
      text-decoration: none;
      font-family: "Bebas Neue", cursive;
      transition: all ease-in-out 0.125s;
      z-index: 5;
      opacity: 0;

      &:hover {
        background-color: var(--clr-secondary);
        color: white;
        box-shadow: 0 0 20px 1px var(--clr-secondary);
      }
    }
  }
}

.videos {
  min-height: 100vh;
  padding-bottom: 20vh;
  display: flex;
  z-index: 6;
  position: relative;
  background: linear-gradient(180deg, #050505 15%, #060606 100%);
  place-content: center;

  .container {
    max-width: 80vw;
  }

  .Heading {
    width: 100%;
    margin-bottom: 5vh;
    display: grid;
    place-content: center;
    color: white;
  }

  .parent {
    display: grid;
    width: 100%;
    height: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    div {
      background-color: #fff;
      display: grid;
      place-content: center;
      cursor: pointer;
      border-radius: 25px;
      border: #6f00ff solid 5px;
      overflow: hidden;
      position: relative;
      transform-origin: bottom;
      margin-top: 2vh;
    }
  }

  img {
    height: 25vh;
    -webkit-user-drag: none;
    user-select: none;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
}

.store {
  min-height: 100vh;
  display: grid;
  z-index: 6;
  position: relative;
  background: #060606;
  place-content: center;

  .Heading {
    width: 100%;
    display: grid;
    place-content: center;
    color: white;
    margin-bottom: 5vh;
  }

  .store-items-container {
    max-width: 80vw;
  }

  .parent {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    .div1:hover::after {
      content: "600,-" !important;
    }

    .div2:hover::after {
      content: "1300,-" !important;
    }

    .div3:hover::after {
      content: "500,-" !important;
    }

    .div4:hover::after {
      content: "300,-" !important;
    }

    .div5:hover::after {
      content: "800,-" !important;
    }

    .div6:hover::after {
      content: "1000,-" !important;
    }

    div {
      background-color: #fff;
      display: grid;
      place-content: center;
      cursor: pointer;
      border-radius: 25px;
      border: #6f00ff solid 5px;
      overflow: hidden;
      position: relative;
      transform-origin: bottom;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        background-color: #000000e5;
        bottom: 0;
        transition: all ease-out 0.125s;
      }

      &:hover::after {
        content: "";
        font-size: 2rem;
        position: absolute;
        width: 100%;
        height: 35%;
        background-color: #000000e5;
        bottom: 0;
        color: white;
        display: grid;
        place-content: center;
        font-family: "Bebas Neue", cursive;
      }
    }
  }

  img {
    height: 25vh;
    -webkit-user-drag: none;
    user-select: none;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
}

.contact {
  margin-bottom: 33vh;
  z-index: 5;
  position: relative;
  display: grid;
  place-content: center;
  background: linear-gradient(
    180deg,
    rgba(6, 6, 6, 1) 15%,
    rgba(8, 8, 8, 1) 100%
  );
  box-shadow: 0 5px 15px 10px #040404;

  #hodnoceni-range {
    color: var(--clr-secondary);
    margin-right: 1rem;
  }

  .contact-wrapper {
    width: 80vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  textarea {
    resize: none;
    max-width: 100%;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: solid #6f00ff 5px;
    box-shadow: 5px 5px 10px 3px hsla(0, 0%, 0%, 0.445);
    padding: 2rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }

  h3 {
    color: white;
    font-family: "Mukta", sans-serif;
  }

  div {
    font-family: "Mukta", sans-serif;
  }

  #hodnoceni-range {
    display: inline;
    background-color: #6f00ff;
  }

  #hodnoceni {
    display: inline;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .div5 {
    grid-area: 5 / 1 / 6 / 2;
    color: white;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 2;
    h3 {
      display: inline;
    }
  }
  .div7 {
    grid-area: 7 / 1 / 8 / 2;
    margin-top: -5rem;
  }
  .div8 {
    grid-area: 1 / 2 / 2 / 3;
    color: white;
  }
  .div9 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div10 {
    grid-area: 3 / 2 / 8 / 3;
  }

  #submit {
    position: relative;
    width: 20%;
    left: 0;
  }
}

footer {
  background-color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 33vh;
  color: white;
  font-family: "Mukta", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(8, 8, 8, 1) 100%
  );

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 100px;
    grid-auto-flow: row;
    grid-template-areas:
      "mthwm cenda"
      "mthwm-links cenda-links";
    font-size: 16px;
  }

  .mthwm {
    grid-area: mthwm;
    display: flex;
    justify-content: center;
    font-size: 18px;

    a {
      font-weight: 900;
      text-decoration: none;
      color: #6f00ff;
      margin-left: 5px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 2px;
        background-color: var(--clr-secondary);
        bottom: -1px;
        right: 0px;
        transition: all ease-in-out 0.25s;
        transform-origin: right;
      }

      &:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--clr-secondary);
        bottom: -1px;
        left: 0px;
        transform-origin: right;
      }
    }
  }

  .cenda {
    grid-area: cenda;
    display: flex;
    justify-content: center;
    font-size: 18px;

    a {
      font-weight: 900;
      text-decoration: none;
      color: #6f00ff;
      margin-left: 5px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 2px;
        background-color: var(--clr-secondary);
        bottom: -3px;
        right: 0px;
        transition: all ease-in-out 0.25s;
        transform-origin: right;
      }

      &:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--clr-secondary);
        bottom: -3px;
        left: 0px;
        transform-origin: right;
      }
    }
  }

  .mthwm-links {
    grid-area: mthwm-links;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      color: white;
      padding-inline: 10px;
      transform: scale(1.5);
      cursor: pointer;
      transition: all ease-in-out 0.25s;
      text-decoration: none;
    }
  }

  .cenda-links {
    grid-area: cenda-links;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      color: white;
      padding-inline: 10px;
      transform: scale(1.5);
      cursor: pointer;
      transition: all ease-in-out 0.25s;
      text-decoration: none;
    }
  }

  .cenda-links a:hover,
  .mthwm-links a:hover {
    color: #6f00ff;
    text-shadow: #6f00ff 0 0 5px;
    transform: rotate(5deg) scale(3);
  }
}

// Medium Desktop layout

@media smaller-desktop and (max-width: 1575px) {
  .player-card {
    min-width: none;
    width: 15vw;
  }

  .mm,
  .wm,
  .fct {
    opacity: 1 !important;
    width: 50% !important;
    height: auto;
    transform: scale(1) !important;
    position: relative;
  }
}

// Smaller Desktop layout

@media screen and (max-width: 1180px) {
  .roster {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-top: 10vh;

    .player-card {
      height: auto;
      width: 50vw;
      min-width: 50vw !important;
    }
  }

  .roster .player-card:hover a {
    padding: 1vw 3vw;
    font-size: 3em;
  }

  .roster .player-card:hover {
    .mm,
    .wm,
    .fct {
      opacity: 1 !important;
      height: auto;
      height: 7vw;
      transform: scale(1) !important;
      position: relative;
    }
  }
}

// Tablet layout

@media screen and (max-width: 972px) {
  .hero {
    min-width: 80vw;
  }
}

// Mobilní layout

@media screen and (max-width: 920px) {
  .contact {
    margin-bottom: 50vh;

    #hodnoceni-range {
      width: 100%;
      background-color: #6f00ff;
    }

    #submit {
      width: 100%;
    }

    #hodnocení {
      margin-left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }

    .parent {
      display: flex !important;
      flex-direction: column;

      .div6 {
        margin-top: 1rem;
      }

      .div7 {
        margin-top: 0;
      }
    }
  }

  .videos {
    h1 {
      font-size: 4rem;
    }
  }

  .heading-about-us {
    h1 {
      font-size: 4rem;
    }
    height: 29vh;
    margin-top: -20vh;
  }

  .store {
    .parent {
      display: flex;
      flex-direction: column;
    }

    .Heading {
      grid-area: auto !important;
    }
  }

  .nav-wrapper {
    .image {
      width: 100vw;
      margin-left: 0px !important;
    }

    nav {
      display: none;
    }
  }

  .hero {
    h1 {
      font-size: 3.5em;
    }

    b {
      font-size: 2.6rem;
      padding: 1rem 3rem;
      margin-top: 7vh;
    }

    .icon-wrap {
      transform: scale(0.6);
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
    }

    @keyframes mymove {
      0% {
        top: 15vh;
      }
      50% {
        top: 20vh;
      }
      100% {
        top: 15vh;
      }
    }

    .text {
      font-size: 0.5rem;
    }
  }

  .about-us {
    p {
      margin-top: 0;
      width: 70%;
    }
  }

  footer .container {
    display: flex;
    flex-direction: column;
  }

  .roster {
    padding-top: 20vh;
  }

  .roster .player-card:hover a {
    padding: 1vw 3vw;
    font-size: 2em;
  }

  .roster .player-card {
    width: 60vw;
  }

  .roster .player-card:hover {
    .mm,
    .wm,
    .fct {
      opacity: 1 !important;
      height: auto;
      height: 10vw;
      transform: scale(1) !important;
      position: relative;
    }

    a {
      font-size: 1.8;
    }

    a::after {
      font-size: 1rem;
      bottom: -1.8rem;
    }
  }

  footer {
    height: 50vh;
  }

  .mthwm-links {
    margin-bottom: 10vh;
  }

  .image {
    margin-left: 2rem !important;
  }

  .videos {
    .container {
      display: grid;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr !important;
      gap: 2rem 0px !important;
      grid-auto-flow: row !important;
      grid-template-areas:
        "Heading"
        "video1"
        "video2"
        "video3" !important;

      img {
        width: 60vw;
      }
    }
  }

  #factsToggle {
    right: 2rem;
  }

  #aimTrainer {
    left: 2rem;
  }

  .Heading {
    grid-area: Heading;
  }

  .video-1 {
    grid-area: video1 !important;
  }

  .video-2 {
    grid-area: video2 !important;
  }

  .video-3 {
    grid-area: video3 !important;
  }

  .nav-wrapper {
    .nav-links {
      display: none;
      position: absolute;
      top: 12vh;
      width: 100%;
    }

    a {
      color: white;
      padding: 0;
      margin-right: 2rem;
      text-decoration: none;
      font-size: 15px;
      display: block;
    }
  }

  .videos {
    .container {
      grid-template-rows: auto !important;
    }

    .parent {
      display: flex;
      flex-direction: column !important;

      iframe {
        width: 100%;
        height: auto;
      }
    }
  }

  #factsToggle {
    right: 1rem;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
  }

  .factsDiv {
    width: 100%;
    height: 15vh;

    .fact {
      font-size: 1rem;
    }
  }
}
